<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="global" type="WebApiDoc.Tests.GlobalSection, WebApiDoc.Tests, Version=1.0.0.0, Culture=neutral"/>
    <section name="api" type="WebApiDoc.Tests.Modules.Api.ModuleSection, WebApiDoc.Tests, Version=1.0.0.0, Culture=neutral"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <global serviceName="WebApi.Template" displayName="WebApi.Template" description="WebApi.Template"/>
  <api baseAddress="http://localhost:9999/"/>
</configuration>